name: main

on:
  push:
    branches:
      - main

jobs:
  cargo:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    env:
      CARGO_TERM_COLOR: always

    steps:
      - uses: actions/checkout@v2
      - run: cargo clippy --all
      - run: cargo build
      - run: cargo test

  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ironpeak/otter:${{ github.sha }}

  test:
    runs-on: ubuntu-latest
    #needs: [cargo, docker]
    container: ironpeak/otter:0dd10ed10acf445d15ce45f9d64051a92a096e3a
    #container: ironpeak/otter:${{ github.sha }}
    defaults:
      run:
        shell: /bin/ash -c {0}
    steps:
      - name: Setup
        run: apk add --update --no-cache git
      - name: Clone
        run: |
          git clone --branch main --single-branch https://github.com/ironpeak/otter.git repo
          git checkout ${{ github.sha }}
      - name: Test
        run: ./repo/tests/test.sh
